<!DOCTYPE html>
<html lang="en" ng-app="provisionalLicense">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="License Development Tool Kit">
    <meta name="Komal Singh" content="Komal Singh">
    <link rel="icon" href="stylesheets/images/favicon%20(1).ico">
    <title>Sentinel EMS</title>
    <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/css/dashboard.css" rel="stylesheet">
    <link href="stylesheets/css/style1.css" rel="stylesheet">
    <script src="scripts/dependency/ie8-responsive-file-warning.js"></script>
    <script src="scripts/dependency/ie-emulation-modes-warning.js"></script>
    <script src="scripts/dependency/html5shiv.min.js"></script>
    <script src="scripts/dependency/respond.min.js"></script>
    <script src="scripts/dependency/jquery-latest.min.js"></script>
    <!--   <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
    <link href="stylesheets/css/animation.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/css/cssmenu.css" rel="stylesheet">
    <script src="scripts/dependency/menuscript.js"></script>
</head>

<body ng-controller="provisionalController" style="background-color: #FFFFFF">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Sentinel LDK License Design Tool</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a>Batch Code&nbsp;&nbsp;&nbsp;-</a></li>
                <li class="dropdown">
                    <select class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false"
                            style="margin-top: 15px;background-color: #222;color:#9d9d9d;border-color: #222">
                        <option style="background-color: white;color: black;padding: 4px;" value="DEMOMA">DEMOMA
                        </option>
                        <option style="background-color: white;color: black;padding: 4px;" value="DEMOMB">DEMOMB
                        </option>
                        <option style="background-color: white;color: black;padding: 4px;" value="DEMOMC">DEMOMC
                        </option>
                    </select>
                </li>
                <li><a href="#">Settings</a></li>
                <li><a href="index.html">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div style="background-image: url(stylesheets/images/default-tier4.png); height:75px; width:100%; background-attachment: fixed; background-repeat: no-repeat; background-size:contain;">
    <h3 style="margin-top:-1px;color:#676767;margin-left:20%"><br>Provisional License</h3>
</div>
<div class="container-fluid">
    <div class="col-sm-3 col-md-2 sidebar">
        <div id='cssmenu'>
            <ul>
                <li class='has-sub'><a href='#'>Catalog</a>
                    <ul>
                        <li><a href='Features.html'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Define Feature</a></li>
                        <li><a href='Product.html'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Define Product</a></li>
                    </ul>
                </li>
                <li class='active has-sub'>
                    <a href='#'>Manage Licenses</a>
                    <ul>
                        <li><a href='LicenseDefine.html'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Production License</a></li>
                        <li><a href='ProvisionalLicense.html'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Provisional
                            License</a></li>
                    </ul>
                </li>
                <li><a href='view_key_state.html'>View Key State</a></li>
                <li><a href='#'>Master Key State</a></li>
                <li><A HREF="ms-its:../var/license_generation_api_en-US.chm">Help</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-12 col-xs-offset-2 col-md-10">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-md-10 col-sm-offset-1">
            <br>
            <div class="col-md-12 panel panel-default" style="padding: 15px;height: 440px;">
                <div class="col-md-12">
                    <div class="col-md-12 table-responsive" style="padding: 5px;">
                        <div style="padding: 5px;">
                            <div>
                                <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#licDef">New
                                    Provisional Template
                                </button>
                                <div id="licDef" class="modal fade" role="dialog" data-backdrop="static"
                                     data-keyboard="false">
                                    <div class="modal-dialog modal-md">
                                        <div class="modal-content">
                                            <div class="modal-header"
                                                 style="background-color:#919191;color:#FFF;font-weight: 300;padding: 10px;">
                                                <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Provisional Template</h4>
                                            </div>
                                            <div class="modal-body">
                                                <br>

                                                <form class="form-inline" role="form" style="margin-left: 40px"
                                                      novalidate name="provisionalForm">
                                                    <div class="form-group">
                                                        <label>Template Name : &nbsp;&nbsp;</label>
                                                        <input type="text" name="license_name" class="form-control"
                                                               placeholder="Template Name"
                                                               style="height: 30px;width: 190px"
                                                               ng-model="license.license_name" required="">

                                                        <div ng-show="provisionalForm.$submitted || provisionalForm.license_name.$touched">
                                                            <div ng-show="provisionalForm.license_name.$error.required"
                                                                 style="color: red;margin-left: 125px;">Please Enter
                                                                License Name.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Description :&nbsp;&nbsp;</label>
                                                        <textarea name="description" class="form-control"
                                                                  placeholder="Description"
                                                                  style="height: 50px;margin-left:33px; width:190px;margin-top:10px;"
                                                                  ng-model="license.description" required=""></textarea>

                                                        <div ng-show="provisionalForm.$submitted || provisionalForm.description.$touched">
                                                            <div ng-show="provisionalForm.description.$error.required"
                                                                 style="color: red;margin-left: 125px;">Please Enter
                                                                Description.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>

                                                    <div style="margin-top: 10px;" class="form-group">
                                                        <label>Enforcement Type:</label>
                                                        <select name="enforcement" ng-model="license.enforcement_type"
                                                                style="width: 187px;margin-left: 3px;height: 30px;"
                                                                required="">
                                                            <option value="SL-AdminMode" selected>SL-AdminMode</option>
                                                            <option value="SL-UserMode">SL-UserMode</option>
                                                        </select><br>

                                                        <div ng-show="provisionalForm.$submitted || provisionalForm.enforcement.$touched">
                                                            <div ng-show="provisionalForm.enforcement.$error.required"
                                                                 style="color: red;margin-left: 125px;">Please Enter
                                                                Enforcement.
                                                            </div>
                                                        </div>
                                                        <div style="float:left;margin-top: 10px">
                                                            <div class="animate-switch-container" ng-switch
                                                                 on="license.enforcement_type">
                                                                <div ng-switch-when="SL-AdminMode">
                                                                    <div class="checkbox"><label
                                                                            style="margin-left: 120px;"><input
                                                                            type="checkbox"
                                                                            ng-model="license.readable_license"
                                                                            ng-true-value="'Yes'" ng-false-value="'No'">&nbsp;Readable
                                                                        License</label></div>
                                                                </div>
                                                                <div ng-switch-when="SL-UserMode">
                                                                    <div class="checkbox"><label
                                                                            style="margin-left: 120px;"><input
                                                                            type="checkbox"
                                                                            ng-model="license.readable_license"
                                                                            ng-true-value="'Yes'" ng-false-value="'No'">Readable
                                                                        License</label></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <br>
                                                        <button class="btn btn-default btn-sm" data-target="#modalId"
                                                                data-toggle="modal"
                                                                style="margin-top: 6px;margin-bottom: 10px;"
                                                                ng-disabled="!license.enforcement_type">Select Products
                                                        </button>
                                                        <br>
                                                    </div>

                                                    <div class="box on" ng-show="toggle" ng-animate="'box'">
                                                        <table class="table table-responsive table-bordered table-striped table-condensed"
                                                               style="margin-top: 10px;">
                                                            <tr>
                                                                <th>#</th>
                                                                <th>ID</th>
                                                                <th>Name</th>
                                                                <th>Description</th>
                                                                <th>Lock Type</th>
                                                                <th>Features Count</th>
                                                                <th>Status</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="8">
                                                                    <div style="padding: 20px">
                                                                        <div style="padding: 20px; background-color: whitesmoke">
                                                                            <div style="padding: 22px; background-color: white">
                                                                                <center>No Data in Table. Please Select
                                                                                    Products.
                                                                                </center>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>


                                                    <table ng-hide="toggle"
                                                           class="table table-responsive table-bordered table-striped table-condensed"
                                                           style="margin-top: 10px;">
                                                        <tr>
                                                            <th>#</th>
                                                            <th>ID</th>
                                                            <th>Name</th>
                                                            <th>Lock Type</th>
                                                            <th>Features Count</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                        <tr ng-repeat="pr in prdctDisplay">
                                                            <td>
                                                                <input type="checkbox"></td>
                                                            <td>{{pr.id}}</td>
                                                            <td>{{pr.name}}</td>
                                                            <td>{{pr.enforcement_type}}</td>
                                                            <td>{{pr.feature.length }}</td>
                                                            <td>
                                                                <button class="btn btn-default btn-xs glyphicon glyphicon-trash"
                                                                        ng-click="removeSelectedProduct(pr.productID)"></button>
                                                            </td>
                                                        </tr>
                                                    </table>

                                            </div>
                                            <div class="modal-footer"
                                                 style="background-color:#919191;color:#FFF;font-weight: 300; padding: 10px;">
                                                <button ng-disabled="provisionalForm.$invalid"
                                                        class="btn btn-warning btn-sm"
                                                        ng-click="produceProvisionalLic(license,prdctDisplay,provisionalForm)">
                                                    Produce License
                                                </button>
                                                <button ng-disabled="provisionalForm.$invalid"
                                                        class="btn btn-success btn-sm"
                                                        ng-click="draftLic(license,prdctDisplay,provisionalForm)">Save
                                                    as Draft
                                                </button>
                                                <button class="btn btn-default btn-sm"
                                                        ng-click="reset(license, prdctDisplay, provisionalForm)">Cancel
                                                </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="modalId" role="dialoge" class="modal fade" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header"
                                     style="background-color:#919191;color:#FFF;font-weight: 300;padding: 8px;">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h5>Select Products</h5>
                                </div>
                                <div class="modal-body col-md-12" style="background-color: white">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Search Products..."
                                               ng-model="searchText" style="margin-left:1px;height: 28px;"/>
                                    </div><br><br>
                                    <div style="height: 250px;" class="col-md-12">
                                        <table class="table table-responsive table-hover table-striped table-bordered table-condensed">
                                            <tr style="background-color:#dbdbdb">
                                                <th>#</th>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Lock Type</th>
                                                <th>Features</th>
                                            </tr>
                                            <tr dir-paginate="prdcts in productDB | filter : searchText | filter:license.enforcement_type | itemsPerPage:10">
                                                <td>
                                                    <input type="checkbox" ng-model="selecting"
                                                           ng-click="select(prdcts,selecting)">
                                                </td>
                                                <td>{{prdcts.id}}</td>
                                                <td>{{prdcts.name}}</td>
                                                <td>{{prdcts.enforcement_type}}</td>
                                                <td>{{prdcts.feature.length}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <style>
                                        .pagination .active a {
                                            background-color: #C1C2C4;
                                            color: #000;
                                            border-color: #C1C2C4;
                                        }

                                        .pagination .active a:hover {
                                            background-color: #5f7c74;
                                            color: white;
                                            border-color: #5f7c74;
                                        }

                                        .pagination {
                                            margin: 0px;
                                            margin-top: -10px;
                                            margin-left: 35%;
                                        }

                                        .pagination .active a:focus, .pagination .active a:hover, .pagination .active span, .pagination .active span:focus, .pagination .active span:hover {
                                            z-index: 2;
                                            color: white;
                                            border-color: #5f7c74;
                                            background-color: #5f7c74;
                                            cursor: default;
                                        }
                                    </style>
                                    <dir-pagination-controls max-size="5" direction-link="true"
                                                             boundary-links="true"></dir-pagination-controls>
                                </div>
                                <div class="modal-footer"
                                     style="background-color:#919191;color:#FFF;font-weight: 300; padding: 10px;">
                                    <button class="btn btn-default btn-sm" data-dismiss="modal"
                                            style="margin-top: 5px;">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 375px;" class="col-md-12">
                        <table class="table table-bordered table-responsive table-striped table-condensed">
                            <tr>
                                <th>License Name</th>
                                <th>Description</th>
                                <th>Created On</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            <tr dir-paginate="lic in licArray | itemsPerPage : 8">
                                <td>{{lic.license_name}}</td>
                                <td>{{lic.description}}</td>
                                <td>{{lic.date}}</td>
                                <td>{{lic.status}}</td>
                                <td>
                                    <button class="btn btn-default btn-xs glyphicon glyphicon-trash"
                                            ng-click="delTemplate(lic._id)"></button>
                                    <div class="btn-group" style="overflow: visible;">
                                        <button type="button"
                                                class="btn btn-default btn-xs glyphicon glyphicon-menu-hamburger"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                                style="overflow: visible">
                                        </button>
                                        <ul class="dropdown-menu" style="overflow: visible;z-index: 100;">
                                            <li><a href="#" ng-click="draftKey(lic)">Produce License</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <style>
                        .pagination .active a {
                            background-color: #C1C2C4;
                            color: #000;
                            border-color: #C1C2C4;
                        }

                        .pagination .active a:hover {
                            background-color: #5f7c74;
                            color: white;
                            border-color: #5f7c74;
                        }

                        .pagination {
                            margin: 0px;
                            margin-top: -10px;
                            margin-left: 30%;
                        }

                        .pagination .active a:focus, .pagination .active a:hover, .pagination .active span, .pagination .active span:focus, .pagination .active span:hover {
                            z-index: 2;
                            color: white;
                            border-color: #5f7c74;
                            background-color: #5f7c74;
                            cursor: default;
                        }
                    </style>
                    <dir-pagination-controls max-size="5" direction-link="true"
                                             boundary-links="true"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal fade" id="alert1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="font-weight: 300;padding: 7px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body" style="background-color: white">
                <br>
                {{result}}
                <br>
                <br>
            </div>
            <div class="modal-footer" style="font-weight: 300;padding: 5px;">
                <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<footer style="position:fixed;bottom:0;width:100%;color:grey;">
        <span style="text-align:center;color:grey;position:absolute;margin-bottom:1%;margin-left: 44%;">Copyright © 2015  Gemalto. All Rights Reserved.
        </span>
    <picture><span style="float:right;margin-right: 38px;"><img src="stylesheets/images/Gemalto.svg.png" alt="welcome to gemalto" width="100px"></span>
    </picture>
</footer>

<script type="text/javascript" src="scripts/dependency/jquery.form.min.js"></script>
<script type="text/javascript" src="scripts/dependency/jscolor.js"></script>
<script src="scripts/dependency/jquery.min.js"></script>
<script src="scripts/dependency/bootstrap.min.js"></script>
<script src="scripts/dependency/jdataview.js"></script>
<script src="scripts/dependency/jbinary.js"></script>
<script src="scripts/dependency/holder.js"></script>
<script src="scripts/dependency/ie10-viewport-bug-workaround.js"></script>
<script src="scripts/dependency/angular.min.js"></script>
<script src="scripts/dependency/dirPagination.js"></script>
<script src="scripts/controller/provisionalController.js"></script>
</body>

</html>